/*HEADER*/
.navegador{
    background-color: aliceblue;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-between;
    &__logo{
        margin: 1em;
    }
    &__menu{
        margin: 1em;
    }
    &__link{
        color: rgb(12, 68, 12);
        text-decoration: none;
    }
}
