/*RESPONSIVE*/
/*Tablet*/
@media screen and (max-width: 1023px) {
    .pagina__imagen{
        width: 500;
        height: 300;
    }
    }
/*Celular*/
@media screen and (max-width: 600px) {
    .navegador{
        background-color: aliceblue;
    }
    .navegador__menu{
        flex-direction: column;
    }
    .navegador__open{
        display: block;
        font-size: 32px;
        color: rgb(12, 68, 12);
        text-decoration: none;
    }
    .navegador__link--close{
        display: block;
    }
     #lateral{
            display: block;
            background-color: white;
            width: 80%;
            height: 100vh;
            position: fixed;
            top: 0;
            left: -100%;
            z-index: 100;
            transition: left 1s;
  }
     #lateral:target{
        left: 0;
}

}